# IMPC_APIを用いてPhenodiデータを取得する

# セットアップ

In [1]:
# Move up to top directory
import os
from pathlib import Path

print(os.getcwd())

while not Path("LICENSE").exists():
    os.chdir('../')

print(os.getcwd())

/mnt/e/Research/TSUMUGI-dev-main/notebooks/notebooks-experiments
/mnt/e/Research/TSUMUGI-dev-main

In [2]:
from pathlib import Path
from pprint import pprint
from collections import defaultdict, Counter
from itertools import combinations
import csv
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns

P = print
PP = pprint
C = Counter

# 実験

In [3]:
from impc_api import solr_request, batch_solr_request

In [7]:
num_found, df = solr_request(
    core="genotype-phenotype",
    params={
         "q": "*:*",
         "rows": 0,
         "facet": "on",
         "facet.field": "zygosity",
         "facet.limit": 15,
         "facet.mincount": 1,
    }
)
df

Your request:
https://www.ebi.ac.uk/mi/impc/solr/genotype-phenotype/select?q=%2A%3A%2A&rows=0&facet=on&facet.field=zygosity&facet.limit=15&facet.mincount=1

Number of found documents: 69489

       zygosity  count_per_category
0    homozygote               54170
1  heterozygote               14551
2    hemizygote                 768

       zygosity  count_per_category
0    homozygote               54170
1  heterozygote               14551
2    hemizygote                 768

In [8]:
num_found, df = solr_request(
    core='phenodigm', 
    params={
        'q': '*:*',
        'rows': 10, 
    }
)

Your request:
https://www.ebi.ac.uk/mi/impc/solr/phenodigm/select?q=%2A%3A%2A&rows=10

Number of found documents: 10152848

        type     gene_id hgnc_gene_id
0  gene_gene  MGI:102498    HGNC:7459
1  gene_gene  MGI:102500    HGNC:7456
2  gene_gene   MGI:99927    HGNC:7414
3  gene_gene  MGI:102501    HGNC:7427
4  gene_gene  MGI:102496    HGNC:7461
5  gene_gene  MGI:102497    HGNC:7460
6  gene_gene  MGI:102502    HGNC:7422
7  gene_gene  MGI:102499    HGNC:7458
8  gene_gene  MGI:102495    HGNC:7462
9  gene_gene  MGI:102504    HGNC:7419

In [17]:
# Overlapeed phenotypeの中で、maleとfemaleを含むものを抽出する
overlapped_phenotype = df_similarity_with_sexual_dimorphism['Overlapped phenotype'].tolist()

import ast

# 各文字列をパースしてリストに変換
parsed_lists = [ast.literal_eval(item) for item in overlapped_phenotype]

# 全てのリストを結合
flattened_list = []
for sublist in parsed_lists:
    flattened_list.extend(sublist)

P(flattened_list[:5])

['decreased bone mineral content (Homo, Female)', 'decreased bone mineral density (Homo)', 'decreased bone mineral content (Homo, Female)', 'decreased bone mineral content (Homo, Female)', 'decreased bone mineral content (Homo, Female)']

In [18]:

phenotype_with_sexual_dimorphism = [p for p in flattened_list if "Male" in p or "Female" in p]

P(phenotype_with_sexual_dimorphism[:5])

['decreased bone mineral content (Homo, Female)', 'decreased bone mineral content (Homo, Female)', 'decreased bone mineral content (Homo, Female)', 'decreased bone mineral content (Homo, Female)', 'decreased bone mineral content (Homo, Female)']

In [20]:
Counter(phenotype_with_sexual_dimorphism).most_common(100)

[('hyperactivity (Homo, Female)', 13781),
 ('increased circulating alkaline phosphatase level (Homo, Female)', 3981),
 ('decreased bone mineral content (Homo, Female)', 3132),
 ('decreased grip strength (Homo, Female)', 2839),
 ('increased grip strength (Homo, Female)', 1835),
 ('decreased locomotor activity (Homo, Female)', 1821),
 ('hyperactivity (Hetero, Female)', 1246),
 ('decreased bone mineral density (Homo, Female)', 1208),
 ('increased total body fat amount (Homo, Female)', 917),
 ('abnormal bone structure (Homo, Female)', 809),
 ('increased fasting circulating glucose level (Homo, Female)', 682),
 ('increased circulating alkaline phosphatase level (Hetero, Female)', 612),
 ('increased bone mineral content (Homo, Female)', 572),
 ('decreased lean body mass (Homo, Female)', 525),
 ('increased grip strength (Hetero, Female)', 509),
 ('decreased grip strength (Hetero, Female)', 434),
 ('decreased exploration in new environment (Homo, Female)', 292),
 ('decreased body length (Homo, Female)', 284),
 ('decreased mean corpuscular hemoglobin (Homo, Female)', 256),
 ('increased circulating creatinine level (Homo, Female)', 238),
 ('decreased locomotor activity (Hetero, Female)', 217),
 ('abnormal behavior (Homo, Female)', 207),
 ('decreased thigmotaxis (Homo, Female)', 197),
 ('decreased bone mineral content (Hetero, Female)', 180),
 ('impaired glucose tolerance (Homo, Female)', 163),
 ('increased mean corpuscular hemoglobin (Homo, Female)', 160),
 ('hyperactivity (Homo, Male)', 149),
 ('decreased total body fat amount (Homo, Male)', 143),
 ('increased bone mineral content (Hetero, Female)', 137),
 ('abnormal cholesterol homeostasis (Homo, Female)', 131),
 ('increased total body fat amount (Hetero, Female)', 129),
 ('increased lean body mass (Homo, Male)', 127),
 ('decreased circulating serum albumin level (Homo, Female)', 113),
 ('decreased circulating alkaline phosphatase level (Homo, Female)', 110),
 ('decreased lean body mass (Hetero, Female)', 104),
 ('decreased mean corpuscular volume (Homo, Female)', 102),
 ('abnormal bone structure (Hetero, Female)', 97),
 ('decreased fasting circulating glucose level (Homo, Female)', 96),
 ('increased leukocyte cell number (Homo, Female)', 93),
 ('increased circulating iron level (Homo, Female)', 84),
 ('increased mean corpuscular volume (Homo, Female)', 81),
 ('increased spleen weight (Homo, Female)', 79),
 ('increased circulating amylase level (Homo, Female)', 74),
 ('short tibia (Homo, Female)', 73),
 ('decreased anxiety-related response (Homo, Female)', 72),
 ('increased fasting circulating glucose level (Hetero, Female)', 72),
 ('decreased circulating alkaline phosphatase level (Hetero, Female)', 70),
 ('decreased body weight (Homo, Female)', 66),
 ('abnormal eye anterior chamber depth (Homo, Female)', 64),
 ('increased startle reflex (Homo, Female)', 63),
 ('increased grip strength (Homo, Male)', 63),
 ('decreased circulating creatinine level (Homo, Female)', 61),
 ('increased circulating HDL cholesterol level (Homo, Female)', 59),
 ('increased circulating HDL cholesterol level (Hetero, Female)', 55),
 ('decreased circulating cholesterol level (Homo, Male)', 52),
 ('increased mean corpuscular hemoglobin (Hetero, Female)', 49),
 ('decreased bone mineral density (Hetero, Female)', 48),
 ('increased circulating phosphate level (Homo, Female)', 47),
 ('increased bone mineral content (Homo, Male)', 47),
 ('increased circulating cholesterol level (Homo, Female)', 47),
 ('abnormal cholesterol homeostasis (Hetero, Female)', 46),
 ('decreased mean corpuscular hemoglobin (Hetero, Female)', 46),
 ('increased circulating creatinine level (Hetero, Female)', 44),
 ('abnormal sleep behavior (Homo, Female)', 43),
 ('improved glucose tolerance (Homo, Female)', 40),
 ('increased monocyte cell number (Homo, Female)', 40),
 ('increased circulating sodium level (Homo, Female)', 39),
 ('decreased grip strength (Homo, Male)', 39),
 ('prolonged RR interval (Homo, Female)', 38),
 ('decreased circulating serum albumin level (Homo, Male)', 36),
 ('increased mean corpuscular hemoglobin concentration (Homo, Female)', 36),
 ('decreased circulating HDL cholesterol level (Homo, Male)', 36),
 ('decreased mean corpuscular hemoglobin concentration (Homo, Female)', 35),
 ('increased heart weight (Homo, Female)', 35),
 ('increased circulating alanine transaminase level (Homo, Female)', 35),
 ('decreased hemoglobin content (Homo, Female)', 35),
 ('increased total body fat amount (Homo, Male)', 34),
 ('impaired glucose tolerance (Hetero, Female)', 34),
 ('decreased circulating iron level (Homo, Female)', 33),
 ('increased mean corpuscular hemoglobin concentration (Hetero, Female)', 33),
 ('decreased body length (Hetero, Female)', 32),
 ('decreased lean body mass (Homo, Male)', 30),
 ('increased blood urea nitrogen level (Homo, Female)', 30),
 ('increased exploration in new environment (Homo, Female)', 29),
 ('decreased circulating creatinine level (Hetero, Female)', 28),
 ('abnormal retina outer nuclear layer morphology (Homo, Female)', 28),
 ('improved glucose tolerance (Homo, Male)', 27),
 ('increased red blood cell distribution width (Homo, Female)', 26),
 ('decreased erythrocyte cell number (Homo, Female)', 26),
 ('decreased exploration in new environment (Hetero, Female)', 26),
 ('increased circulating potassium level (Homo, Female)', 25),
 ('increased mean corpuscular volume (Hetero, Female)', 25),
 ('increased circulating serum albumin level (Homo, Female)', 25),
 ('increased circulating sodium level (Hetero, Female)', 25),
 ('impaired glucose tolerance (Homo, Male)', 24),
 ('decreased prepulse inhibition (Homo, Female)', 24),
 ('decreased mean corpuscular volume (Hetero, Female)', 24),
 ('increased circulating cholesterol level (Homo, Male)', 24),
 ('increased circulating alkaline phosphatase level (Homo, Male)', 24),
 ('increased lean body mass (Homo, Female)', 23)]